*{
    margin:0
}
.main{
   background-color: #e3f6f8;
   height:100vh;
   

}
.mainHeader{
    display: flex;
    justify-content: center;
}

.todoInputField{
    margin:4px;
    display: flex;
    align-items: center;
}

.todoButton{
    margin: 4px;
}
.todoList{
    margin:48px
}